{% extends "base.html" %}
  <!-- Custom styles for this template -->
  <link href="/assets/custom/courses.css" rel="stylesheet">

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
          <div class="panel panel-custom">
            <div class="panel-body">
              <div class="image-post">
                <div class="col-xs-10 col-md-10">
                  <h4>
                    {{coursename}} <span class="glyphicon glyphicon-chevron-right"></span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
