{% extends "base.html" %}

{% block content %}
  <!-- Custom styles for this template -->
  <link href="/assets/custom/signin.css" rel="stylesheet">
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="panel panel-custom">
      <div class="panel-body">
        <form class="form-signin" method="post">
          <input type="hidden" name="next_url" value="{{next_url}}">
          <h2 class="form-signin-heading">Please sign in</h2>
          <input name="username" type="text" class="form-control" placeholder="Username" autofocus>
          <input name="password" type="password" class="form-control" placeholder="Password">
          <div class="error">{{error}}</div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div> 
    </div> 
  </div> <!-- /container -->
{% endblock %}
