<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <title>New Post</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    
    <!-- FontAwesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Overall custome styles -->
    <link href="../assets/custom/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/custom/newpost.css" rel="stylesheet">

    <!-- Bootstrap core and JQuery JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <br><br><br>
    <div class="container">
      <row>
       <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-custom">
            <div class="panel-body">
              <row>
                <br>
                <div class="col-xs-9 col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">Title</span>
                    <input type="text" class="form-control" placeholder="Formula, Image Etc.">
                  </div>
                </div>
                <div class="col-xs-3 col-md-6">
                  <button type="button" class="btn btn-danger">Post</button>
                </div>
              </row>
              <row>
                <div class="col-md-12">
                  <ul class="pagination">
                    <li><a href="#"><i class="icon-font"></i> Text</a></li>
                    <li class="active"><a href="#"><i class="icon-picture"></i> Images</a></li>
                    <li><a href="#"> <i class="icon-pencil"></i> Doodles</a></li>
                    <li><a href="#"><i class="icon-beaker"></i> Formulas</a></li>
                  </ul>
                </div>
              </row>
            </div>
          </div>
        </div>
      <row>
    </div> <!-- /container -->

  </body>
</html>
