<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <title>New Post</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    
    <!-- FontAwesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Overall custome styles -->
    <link href="../assets/custom/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/custom/newpost.css" rel="stylesheet">

    <!-- Bootstrap core and JQuery JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
 <!-- New Post -->
    <div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPostLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New Post</h4>
          </div>
          <br>
          <div class="col-xs-9 col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Title</span>
              <input type="text" class="form-control" placeholder="Formula, Image Etc.">
            </div>
          </div>
          <div class="col-xs-3 col-md-6">
            <button type="button" class="btn btn-danger">Post</button>
          </div>
          <br>
          <div class="col-md-12">
            <ul class="pagination">
              <li class="active" ><a href="#Text" data-toggle="tab"><i class="icon-font"></i> Text</a></li>
              <li><a href="#Images" data-toggle="tab"><i class="icon-picture"></i> Images</a></li>
              <li><a href="#Doodles" class="visible-md visible-lg"  data-toggle="tab"> <i class="icon-pencil"></i> Doodles</a></li>
              <li><a href="#Formulas" class="visible-md visible-lg" data-toggle="tab"><i class="icon-beaker"></i> Formulas</a></li>
            </ul>
            <br>
             <div class="tab-content">
              <div class="tab-pane active" id="Text">
                <textarea class="form-control" rows="3" style="max-width:100%;"></textarea>
              </div>
              <div class="tab-pane" id="Images">
                <%= form_for @user do |f| %>
                  <div>
                    <%= f.label :filepicker_url, "Upload Your Avatar:" %>
                    <%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
                  </div>

                  <%= f.submit %>
                <% end %>
              </div>
              <div class="tab-pane" id="Doodles">
                test Doodles
              </div>
              <div class="tab-pane" id="Formulas">
                test Formulas
              </div>
             </div>
           </div>
           <br>
           <br>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </body>
</html>
