<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">

    <!-- Overall custome styles -->
    <link href="../assets/custom/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/custom/signin.css" rel="stylesheet">

    <!-- Bootstrap core and JQuery JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- For when logged in -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CheetSheet</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <form class="navbar-form navbar-left" role="search"> 
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-danger navbar-btn">Post</button></li>
            <li class="inactive"><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <form class="form-signin" id="register">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input type="text" class="form-control" id="email" placeholder="Email address (.edu only)" autofocus>
        <input type="text" class="form-control" id="username" placeholder="Username">
        <input type="password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> <!-- /container -->

    <script>
      $(document).ready(function() {
        $("#register").submit( function(e) {
          // Prevent submit until validation
          e.preventDefault();
          var email = $("#email").val();
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+edu+$/;
          if (regex.test(email)) {
            // Now submit form
            $("#register").unbind('submit').submit();
          }
          else {
            alert("Please use a .edu email address to register!");
          }
        });
      });
    </script>

  </body>
</html>
