 <div class="container">
      <div class="row">
       <div class="col-md-4 col-sm-6" id="badcontent">
            <div class="panel panel-custom">
              <div class="panel-body">
                <div class="image-post">
                  <img class="img-responsive" src="http://placehold.it/900x700">
                </div>
              </div>
              <div class="panel-footer" >
                <div class="row">
                  <div class="col-xs-10 col-md-10">
                    <h4>This is what it looks like when a user posts an image</h4>
                  </div>
                  <div class="col-xs-2 col-md-2">
                    <div class="arrows">
                      <h4><a class="arrows-up" href="#" ><span class="glyphicon glyphicon-chevron-up"></span></a></h4>
                      <h4><a class="arrows-down" href="#" id="downvote"><span class="glyphicon glyphicon-chevron-down"></span></a></h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 col-md-10">
                    <img src="http://placehold.it/50x50">
                    <h6>Username</h6>
                  </div>
                  <div class="col-xs-2 col-md-2">
                    <div class="messages">
                      <a data-toggle="modal" href="#myModal"><h4><span class="glyphicon glyphicon-comment"></span> </h4></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- <h4 class="modal-title">This is what it looks like when a user posts an image</h4> -->
              </div>
              <div class="modal-body">
                <img class="img-responsive" src="http://placehold.it/900x700">
                <div class="row">
                  <div class="col-xs-10 col-md-10">
                    <h4>This is what it looks like when a user posts an image</h4>
                    <img src="http://placehold.it/50x50"><h6>Username</h6>
                  </div>
                  <div class="col-xs-2 col-md-2">
                    <div class="arrows">
                      <h4 class="text-danger"><span class="glyphicon glyphicon-chevron-up"></span> </h4 >
                      <h4><span class="glyphicon glyphicon-chevron-down"></span> </h4>
                    </div>
                  </div>
                </div>
                <div class="modal-comment">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-danger" type="button">Comment</button>
                    </span>
                  </div><!-- /input-group -->
                </div>
                <div class="modal-comment">
                  <h6>Username</h6>
                  <p>Don't I have so many things to say</p>
                </div>
                <div class="modal-comment">
                  <h6>Username</h6>
                  <p>Don't I have so many things to say</p>
                </div>
                <div class="modal-comment">
                  <h6>Username</h6>
                  <p>Don't I have so many things to say</p>
                </div>
                <div class="modal-comment">
                  <h6>Username</h6>
                  <p>Don't I have so many things to say</p>
                </div>
                <div class="modal-comment">
                  <h6>Username</h6>
                  <p>Don't I have so many things to say</p>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>